@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
html{
	display: flex;
	flex-direction: column;
}
body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color:#bdc9d6;
	background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
	/*font-size: ;*/
}
header{
	text-align: center;
	margin-bottom: 15px;
}
nav {
	display: flex;
	text-align: center;;
  flex-direction: row;
  width: auto;
  overflow: hidden;
  position: sticky;
  position: -webkit -sticky;
  top: 0;
  z-index: 100;
 } 	
nav .abouton{
	display: block;
	justify-content: center;
	padding: 0.5em;
	color:white;
	text-decoration: none;
	flex: 1;
	background-color: #140A62;
/*	background: linear-gradient(#4da5d5, #0E2D55);*/
	font-size: 16px;
}
nav hover
{
	color: #96fdff; /*à changer */
}
.abouton:hover{
	color: #96fdff;
	border-bottom: solid 1px #96fdff ; /*à changer */
}
.iconmenu{
  	 vertical-align: text-top;
  	 width: 21px;
  	 height: 21px;
  	 position: middle;
 }
 footer{
 	display: flex;
 	bottom: 0;
 	justify-content: center;
 	background-color: #57648A;
 	width: auto;
 	margin-top: 15px;
 	box-sizing: border-box;

 }
 .imgelement{
 	vertical-align: middle;
}
 .blockelem{
display: block;
padding: 1em;
margin-left:35px;
margin-bottom: 25px;
margin-right: 35px;
margin-top: 5px;
border-radius: 25px;
background-color: lightblue;
}

#anemoperso{
	background-color:rgba( 158, 255, 227 , 0.7);
}
#pyroperso{
	background-color:rgba( 255, 143, 143, 0.7);
}
#electroperso{
	background-color:rgba( 168, 143, 235, 0.7);
}
#cryoperso{
	background-color:rgba( 166, 234, 255, 0.7);
}
#hydroperso{
	background-color:rgba( 121, 184, 255, 0.7);
}
#geoperso{
	background-color:rgba( 255, 221, 106, 0.7);
}
 .persoblock1{
  flex:1;
  justify-content: center;
  display: block;
  /*display: grid;*/
 /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  overflow: hidden;
}
.blockperso{
	display: inline-flex;
	margin: 10px;
	border-radius: 15px;
	flex-direction: column;
	width: fit-content;
	text-align: center;
}
a{
	text-decoration: none;
}
#anemoblock{
	background-color: #409F9D;
	color: white;
}
#anemoblock:hover{
	background-color: #146663;
	color: #EDF7D1;
}
#pyroblock{
	background-color: #b5555d;
	color: white;
}
#pyroblock:hover{
	background-color: #6e241a;
	color: #FAC7AB;
}
#electroblock{
	background-color: #847CC4;
	color: white;
}
#electroblock:hover{
	background-color: #5C4394;
	color: #e2dae3;
}
#cryoblock{
	background-color: #5595ad;
	color: white;
}
#cryoblock:hover{
	background-color: #164463;
	color: #d9f0ff;
}
#hydroblock{
	background-color: #506ca1;
	color: white;
}
#hydroblock:hover{
	background-color: #192d63;
	color: #cad7fa;
}
#geoblock{
	background-color: #966324;
	color: white;
}
#geoblock:hover{
	background-color: #614302;
	color: #f7d894;
}
.iconperso{
	 width: auto;
}
li{list-style-type: none;
}
.listelement{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	width: 20%;
	background-color: rgba(0, 0, 0, 0.1);
}
.container{
  position: relative;
  display: flex;
}
#blue:hover{
background-color: #b1d5f0;
}
.container2{
	position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.text-perso{
  flex-direction: column;
  background: #6d7ead;
  color: #fbfaff;
  display: flex;
  text-align: justify;
  padding: 60px;
  width: 100%;
}
.text-kokomi{
  flex-direction: column;
  background: #6d7ead;
  color: #fbfaff;
  display: flex;
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}

.text-quiz{
  position: relative;
  display: flex;
  text-align: center;
}
input{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	background-color: #140A62;
	color: white;
	border-radius: 15px;
	width: fit-content;
	align-content: center;
}

.text-place{
  flex-direction: column;
  background: #6d7ead;
  color: #fbfaff;
  display: flex;
  text-align: justify;
  padding: 60px;
  width: 100%;
}
main{
	display: block; /* gérer Internet Explorer*/
	flex:1 1 auto;
	display: flex;
	flex-direction: column;
}
#rowpage{
	flex-direction: row;
}
section{
	display: block;
	flex: auto;
	background-color: rgba(109, 126, 173, 0.3);
/*	background-repeat: repeat-y;
	background-position: center;*/
	width: 80%;
/*	margin-right: 25px; */
	color: #1A1695;
	text-align: center;
}
.separation{
	text-align: center;
	margin: auto;
	padding-top: 25px;
	display: flex;
	width: 500px;
	flex-direction: column;
}
.separation2{
	text-align: center;
	margin: auto;
	padding-bottom: 5px;
	display: flex;
	width: 500px;
	flex-direction: column;
}
.boxgamepage {
  position: relative;
}
.text-boxgamepage {
  position: absolute;
  top: 7%;
  left: 2.5%;
  background-color: rgba(3, 8, 43, 0.6);
  color: white;
  border-radius: 15px;
	width: 555px;
	height: fit-content;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: auto;
}
.text1-boxgamepage {
  position: absolute;
  bottom: 21%;
  right: 2.5%;
  background-color: rgba(3, 8, 43, 0.7);
  color: white;
  border-radius: 15px;
	width: 500px;
	height: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.text1-boxgamepage:hover{
	color: #96fdff;

}
.text-boxgamepage:hover{
	color: #96fdff;
}

.img-gamepage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.news{
color: white;
display: block;
text-align: center;
}
iframe{
	width: 500px;
	height: 281.3px;
	margin: 10px;
	margin-bottom: 50px;
}
.text-boxexplo1 {
  position: absolute;
  top: 30%;
  right:25%;
  background-color: rgba(3, 8, 43, 0.6);
  color: white;
  border-radius: 15px;
	width: auto;
	height: fit-content;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.boxexplopage {
  position: relative;
  display: flex;
  flex-direction: column;
}
tr {
	border-collapse: collapse;
	border: solid 1px;
	text-align: center;
	font-size: 17px;
}
th
{
	border-collapse: collapse;
	border: solid 1px;
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 100px 0px 0px 100px;;
}
 td{
 	background-color: #140A62;
 	border-radius: 0px 100px 100px 0px;
}
.text-game{
  flex-direction: column;
  background: #6d7ead;
  color: #fbfaff;
  display: flex;
  flex:auto;
  text-align: justify;
  padding-left:30px;
  padding-right:30px;
  padding-top: 20px;
  float: right;
  width: fit-content;
  height: auto;
}
#sevenelements{
	font-size: 20px;
	text-align: justify;;
	padding: auto;
	width: fit-content;
	background-color: transparent;
}
.listet{
	list-style-type: none;
}
.listet:before{
	content: url(../images/puceliste.png);
	vertical-align: middle;
}
.container3{
	display: block; /* gérer Internet Explorer*/
	flex:1 1 auto;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*
	position: relative;
}
.sectionaside3{
	display: block;
	flex:1;
	background-color:#6d7ead;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}
#elementbox1{
	box-shadow: none;
	border-radius: 25px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
#elementbox1:hover{
	background-color: #b1d5f0;
}

.imgif3{
	width: 25%;
	height: auto;
	margin : 0 auto;
}
.imgif2{
	width: 1200px;
	height: 25%;
	margin : 0 auto;
}
.mapbouton{
	padding: 10px;
	background-color: #140A62;
	color: white;
	border-radius: 15px;
	width: fit-content;
}
.mapbouton:hover{
	color: #96fdff;
	background-color: #161c6e;

}
ol {
	font-size: 18px;
	text-align: justify;
}
.liquiz{
display: block;
align-content: center;
width: fit-content;
font-size: 18px;
background-color: rgba(22, 45, 69,0.2);
list-style-type: circle ;
align-content: center;

}
figure{
	float:left;
	width: auto;
	display: table;
	padding: 5px;
}
/* media queries pour écrans bureau */
	@media screen and (max-width:1224px){
		body{
			display: flex;
			flex: 1;
			flex-wrap: wrap;
		}
	}
	/*media queries pour tablette */
	@media screen and (max-width:1024px){
		body{
	display: flex;
	flex: 1;
	flex-wrap: wrap ;
}	
	}
	/* media queries pour smartphone 480 ou 760px */
	@media screen and (max-width: 480px){
		body {
   min-width: 320px;
	display: flex;
	flex: 1;
		flex-wrap: wrap ;}
	}
.button {
  display: inline-block;
  background-color:rgba(20, 10, 98, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
}
.button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(207, 113, 166, 0.9);
